.videoson2 {
    height: 500px;
    width: 450px;
}
.videoson2-1 {
    height: 67%;
    background-image: url(../icon/骚男.jpg);
    background-size: cover;
}
.videoson2-2 {
    height: 13%;
    width: 90%;
}
.videoson2-3 {
    display: flex;
    justify-content: center;
    height: 13%;
    width: 410px;
}
.videoson2-3-1 {
    width: 95%;
    color: gray;
}
.videoson2-3-2 {
    height: 45px;
    width: 50px;
    background-size: cover;
    background-image: url(../icon/44_点点点.svg);

}