.videoson5 {
    height: 500px;
    width: 450px;
}
.videoson5-1 {
    height: 67%;
    background-image: url(../icon/微信图片_20180803194421.jpg);
    background-size: cover;
}
.videoson5-2 {
    height: 13%;
    width: 90%;
}
.videoson5-3 {
    display: flex;
    justify-content: center;
    height: 13%;
    width: 410px;
}
.videoson5-3-1 {
    width: 95%;
    color: gray;
}
.videoson5-3-2 {
    height: 45px;
    width: 50px;
    background-size: cover;
    background-image: url(../icon/44_点点点.svg);

}