.right-4-1 {
    display: flex;
    height: 31px;
    width: 50px;
    border: white 2px solid;
    align-items: center;


}
@keyframes play {
    0%{
        background-color:red;
        width: 10px;
    }
    25%{
        background-color:chartreuse;
        width: 25px;
    }
    75%{
        background-color:green;
        width: 40px;
    }
    100%{
        background-color:green;
        width: 50px;
    }
}
.right-4-1-1{
    animation: play 4s linear infinite;
}