.self5 {
    height: 70px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: flex-end;
    background-size:cover;
    background-position: center;
    background-image: url("../icon/搜索.svg");
}